* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
   }

body {
    margin-left: 50px;
    margin-right: 50px;
}


/* Polices */   

@font-face {
    font-family: 'raleway-regular';
    src: url('polices/Raleway-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'raleway-bold';
    src: url('polices/Raleway-Bold.ttf') format('truetype')
}

h1 , h2 , #search, #button {
    font-family: 'raleway-bold', Arial, serif;
}

h1 {
    font-size: 20px;
    padding-bottom: 6px;
    margin: 0px;
}

p {
    font-size: 15px;
    padding-bottom: 17px;
    margin: 0px;
}

body {
    font-family: 'raleway-regular', Arial, serif;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

header img { 
    height: 40px;
    margin-top: 35px;
    margin-left: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 50px;
}

nav a {
    font-size: 16px;
    color: #181818;
    padding-top: 34px;
    padding-bottom: 15px;
    text-decoration: none;
}

nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}


/* Search bar */

#search-bar {
    display: flex;
}

#location {
    background-color: #F2F2F2;
    border-radius: 12px 0px 0px 12px;
    padding: 14px 18px;
}

#search {
    position: relative;
    border-color: #F2F2F2;
    padding: 12px;
    font-size: 16px;
}

#button {
 position: relative;
 left: -2%;
 color: white;
 background-color: #0065FC;
 padding: 14px;
 border-radius: 0px 12px 12px 0px;
 border: none;
 font-size: 16px;
}

#button-mobile {
    display: none;
}


/* Filtres */

#filtres {
    display: flex;
    margin-top: 30px;
}

#filtres {
    display: flex;
}

.filtres {
    display: flex;
    margin-left: 50px;
}

.filter-icon {
    display: flex;
    background-color: #DEEBFF;
    border-radius: 40px 40px;
    padding: 18px 15px 7px 15px;
}

.filter-title {
    display: flex;
    border: solid;
    border-color:#F2F2F2;
    border-radius: 30px 30px 30px 30px;
    padding: 14px 14px;
}



/* Mobile */

@media screen and (max-width: 768px)
{

    body {
        margin-left: none;
        margin-right: none;
    }


    /* Mobile header */

    nav a:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    header {
        flex-direction: column;
    }

    header img { 
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    }


    /* Mobile search bar */

    #button {
        display: none;
    }

    #button-mobile {
        position: relative;
        left: -6%;
        color: white;
        background-color: #0065FC;
        border: none;
        display:inline;
        padding: 17px;
        border-radius: 13px 13px 13px 13px;
    }
}