* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
   }
   

@font-face {
    font-family: 'raleway-regular';
    src: url('polices/Raleway-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'raleway-bold';
    src: url('polices/Raleway-Bold.ttf') format('truetype'),
}

h1
{
    font-family: 'raleway-bold', Arial, serif;
}

p
{
    font-family: 'raleway-regular', Arial, serif;
}